<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vivo - Responsive Bootstrap 5 Dashboard Template">
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Bootstrap Gallery">
    <link rel="shortcut icon" href="~/foody2-1.0.0/img/logo-1-icon.png">
    <title>Foody Admin Sayfası</title>
    <link rel="stylesheet" href="/vivo/design/assets/css/animate.css">
    <link rel="stylesheet" href="/vivo/design/assets/fonts/bootstrap/bootstrap-icons.css">
    <link rel="stylesheet" href="/vivo/design/assets/css/main.min.css">
    <link rel="stylesheet" href="/vivo/design/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">

</head>