<nav class="sidebar-wrapper">
    <div class="sidebar-brand">
        <a href="/AdminHome/Index" class="logo">
            <img src="~/foody2-1.0.0/img/logo-1.jpg" alt="Admin Dashboard" />
        </a>
    </div>
    <div class="sidebar-menu">
        <div class="sidebarMenuScroll">
            <ul>
                <li class="sidebar">
                    <a href="/AdminHome/Index">
                        <i class="bi bi-house"></i>
                        <span class="menu-text"> Ana Sayfa</span>
                    </a>
                </li>
                <li class="sidebar">
                    <a href="/Profile/Index">
                        <i class="bi bi-person"></i>
                        <span class="menu-text">Profil</span>
                    </a>
                </li>
                <li class="sidebar">
                    <a href="/Product/Index">
                        <i class="bi bi-handbag"></i>
                        <span class="menu-text">Ürünler</span>
                    </a>
                </li>
                <li class="sidebar">
                    <a href="/Category/Index">
                        <i class="bi bi-tag"></i>
                        <span class="menu-text">Kategoriler</span>
                    </a>
                </li>
                <li class="sidebar">
                    <a href="/Testimonial/Index">
                        <i class="bi bi-chat-quote"></i>
                        <span class="menu-text">Yorumlar</span>
                    </a>
                </li>
                <li class="sidebar">
                    <a href="/Contact/Index">
                        <i class="bi bi-envelope"></i>
                        <span class="menu-text">Mesajlar</span>
                    </a>
                </li>
                <li class="sidebar">
                    <a href="/Chart/Index">
                        <i class="bi bi-pie-chart"></i>
                        <span class="menu-text">Grafik</span>
                    </a>
                </li>
                <li class="sidebar">
                    <a href="/About/Index">
                        <i class="bi bi-card-text"></i>
                        <span class="menu-text">Hakkımda</span>
                    </a>
                </li>
                <li class="sidebar">
                    <a href="/Home/Index">
                        <i class="bi bi-globe"></i>
                        <span class="menu-text">Siteye Git</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>