<div class="page-header">
    <div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>
    <div class="header-actions-container">
        <ul class="header-actions">
            <li class="dropdown">
                <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
                    <span class="user-name d-none d-md-block">Asım Mutlu</span>
                    <span class="avatar">
                        <img src="~/foody2-1.0.0/img/testimonial-2.jpg" alt="Admin Templates">
                        <span class="status online"></span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
                    <div class="header-profile-actions">
                        <a href="/Profile/Index">Profil</a>
                        <a href="/Profile/ProfileSetting">Ayarlar</a>
                        <a href="/Home/Index">Çıkış Yap</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
