@model FoodyTekmerWebUI.Models.UserSignInViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Vivo - Responsive Bootstrap 5 Dashboard Template">
	<meta name="author" content="Bootstrap Gallery" />
	<link rel="canonical" href="https://www.bootstrap.gallery/">
	<meta property="og:url" content="https://www.bootstrap.gallery">
	<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
	<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
	<meta property="og:type" content="Website">
	<meta property="og:site_name" content="Bootstrap Gallery">
	<link rel="shortcut icon" href="~/foody2-1.0.0/img/logo-1-icon.png">
	<title>Foody Giriş Sayfası</title>
	<link rel="stylesheet" href="/vivo/design/assets/css/animate.css">
	<link rel="stylesheet" href="/vivo/design/assets/fonts/bootstrap/bootstrap-icons.css">
	<link rel="stylesheet" href="/vivo/design/assets/css/main.min.css">


</head>

<body class="login-container">

	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
		<div class="spinner">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
			<div class="line4"></div>
			<div class="line5"></div>
			<div class="line6"></div>
		</div>
	</div> -->
	<!-- Loading wrapper end -->
	<!-- Login box start -->
	<form method="post">
		<div class="login-box">
			<div class="login-form">
				<a href="index.html" class="login-logo">
					<img style="width:100px; height:70px" src="~/foody2-1.0.0/img/logo-1.jpg" alt="Admin" />
				</a>
				<div class="login-welcome">
					Hoşgeldiniz, <br />Hesap bilgilerinizi giriniz
				</div>
				<div class="mb-3">
					<label class="form-label">Kullanıcı Adınız</label>
					<input type="text" class="form-control" asp-for="username">
					<span asp-validation-for="username"></span>
				</div>
				<div class="mb-3">
					<div class="d-flex justify-content-between">
						<label class="form-label">Şifreniz</label>
						<a href="forgot-password.html" class="btn-link ml-auto">Şifremi Unuttum</a>
					</div>
					<input type="password" class="form-control" asp-for="password">
					<span asp-validation-for="password"></span>
				</div>
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="login-form-actions">
					<button type="submit" class="btn">
						<span class="icon"> <i class="bi bi-arrow-right-circle"></i> </span>
						Giriş Yap
					</button>
				</div>
				<div class="login-form-footer">
					<div class="additional-link">
						Hesabınız yok mu? <a href="/Login/SignUp"> Hesap Oluştur</a>
					</div>
				</div>
			</div>
		</div>
	</form>
	@await Component.InvokeAsync("NToastNotify")
	<script src="/vivo/design/assets/js/jquery.min.js"></script>
	<script src="/vivo/design/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/vivo/design/assets/js/modernizr.js"></script>
	<script src="/vivo/design/assets/js/moment.js"></script>
	<script src="/vivo/design/assets/js/main.js"></script>
</body>

</html>
