@model FoodyTekmerEntityLayer.Concrete.About
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="pointer-events: none; user-select: none;">Hakkımda Kısmı Ekleme Sayfası</h1>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <form method="post">
                <label>Açıklama</label><br />
                <input type="text" class="form-control border" asp-for="Description"></input>
                <span asp-validation-for="Description" class="text-danger"></span>
                <br /><br />
                <label>Görsel Url</label><br />
                <input type="text" class="form-control border" asp-for="ImageUrl"></input>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <br />
                <button class="btn btn-info">Ürünü Kaydet</button>
                <a href="/About/Index" class="btn btn-primary float-right">Vazgeç</a>
            </form>
        </div>
    </div>
</div>