@{
    Layout = null;
}
<!doctype html>
<html lang="en">
@await Html.PartialAsync("/Views/AdminLayoutPartial/_HeaderPartial.cshtml")
<body>
    <div class="page-wrapper">
        @await Html.PartialAsync("/Views/AdminLayoutPartial/_NavbarPartial.cshtml")
        <div class="main-container">
            @await Component.InvokeAsync("_PagedHeaderPartial")
            <div class="content-wrapper-scroll">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Views/AdminLayoutPartial/_ScriptPartial.cshtml")
</body>
