@model List<FoodyTekmerEntityLayer.Concrete.Category>
@{
    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="col-lg-6 text-start text-lg-end  wow slideInRight" data-wow-delay="0.1s">
    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
        @foreach (var x in Model)
        {
        <li class="nav-item me-2">
                <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" id="@x.CategoryId" href="#tab-1">@x.CategoryName</a>
        </li>            
        }
    </ul>
</div>
