@model FoodyTekmerEntityLayer.Concrete.Product
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="pointer-events: none; user-select: none;">Ürün Ekleme Sayfası</h1>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <form method="post">
                <label>Adı</label>
                <input type="text" class="form-control border" asp-for="Name">
                <br />
                <label>Kategori</label>
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categoryList, new { @class = "form-control" })
                <br />
                <label>Görsel Url</label>
                <input type="text" class="form-control border" asp-for="ImageUrl">
                <br />
                <label>Eski Fiyat</label>
                <input type="text" class="form-control border" asp-for="OldPrice">
                <br />
                <label>Yeni Fiyat</label>
                <input type="text" class="form-control border" asp-for="NewPrice">
                <br />
                <label>Stok</label>
                <input type="text" class="form-control border" asp-for="Stock">
                <br />
                <button class="btn btn-info">Ürünü Kaydet</button>
                <a href="/Product/Index" class="btn btn-primary float-right">Vazgeç</a>
            </form>
        </div>
    </div>
</div>