@model List<FoodyTekmerEntityLayer.Concrete.Testimonial>
@{
    Layout = null;
}

<div class="container-fluid bg-light bg-icon py-6 mb-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Müşteri Yorumu</h1>
            <p>Bizi tercih edenlerin görüşlerinin nasıl olduğuna bir göz atalım.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var x in Model)
            {
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">@x.Description</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="@x.ImageUrl" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">@x.NameSurname</h5>
                            <span>@x.Title</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>