
@{
    Layout = null;
}

<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Hakkımızda</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a class="text-body" href="#">Ana sayfa</a>
                </li>
                <li class="breadcrumb-item text-dark active" aria-current="page">
                    Hakkımızda
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="section-header text-center mx-auto mb-5 wow fadeInUp mt-5" data-wow-delay="0.1s" style="max-width: 500px;">
        <h1 class="display-5 mb-3">Hikayemiz</h1>
        <p>Sizlerde bu Foody'nin geliş hikayesini merak etmiyor musunuz?</p>
    </div>
    <p class="mt-5 mb-5 fs-5">
        Asım, uzun yıllardır doğaya olan tutkusunu içinde taşıyan genç bir adamdı. Küçük yaşlardan beri bahçesinde sebze yetiştirmeyi ve doğal yaşamın tadını çıkarmayı seviyordu. Ancak, büyük şehirde işleriyle meşgul olurken bu tutkusunu ihmal etmişti.
        <br /><br />
        Bir gün, yoğun iş temposu ve şehir hayatının stresi Asım'ı etkisi altına almıştı. Bir mola vermek ve doğayla yeniden bağlantı kurmak istediğine karar verdi. Bu düşünce onu memleketine, doğanın kucağına geri dönmeye götürdü.Küçük bir köydeki ailesinin çiftliğine vardığında, Asım için adeta bir huzur dönemi başlamıştı. Toprağı işlemek, sebzeleri sulamak ve doğanın ritmine uyum sağlamak ona büyük bir mutluluk veriyordu. Bu deneyim, Asım'ın hayatında köklü bir değişime neden oldu.Bir gün, Asım çiftlikte çalışırken, eski bir meyve bahçesi buldu. Bahçenin bakımsız ve ihmal edilmiş olduğunu gördüğünde içinde bir üzüntü hissetti. Ancak, aynı zamanda bu bahçeyi yeniden canlandırma arzusuyla dolup taşıyordu. Kendi küçük işletmesini kurma fikri buradan doğdu.
        <br /><br />
        Asım, Foody adını verdiği küçük bir meyve sebze çiftliği açtı. Başlangıçta zorluklarla karşılaştı, ancak azmi ve tutkusu sayesinde başarılı oldu. Foody, organik ve taze ürünleriyle kısa sürede köy halkının ve çevre sakinlerinin favorisi haline geldi.
        <br /><br />
        Şimdi, Asım'ın küçük çiftliği büyüyor ve insanlara sağlıklı, organik yiyecekler sunmaya devam ediyor. Her gün doğayla iç içe olmanın ve insanların sağlıklı yaşam tarzlarına katkıda bulunmanın keyfini çıkarıyor.
        <br /><br />
        Foody, sadece bir meyve sebze çiftliği değil, aynı zamanda bir tutkunun, bir yeniden doğuşun ve doğayla olan bağın sembolüdür. Asım'ın hikayesi, Foody'nin temel değerlerini ve misyonunu temsil ediyor: Doğal, sağlıklı ve sevgi dolu bir yaşamı teşvik etmek.
    </p>
</div>
