@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row gutters">
    

    @await Component.InvokeAsync("ProfileHeader")

    @await Component.InvokeAsync("UnreadMessages")

    <div class="col-lg-4 col-sm-12 col-12">  
        <div class="col-sm-12 col-12">
            <div class="weather-widget sunny">
                <h2>16°</h2>
                <h4>Güneşli</h4>
                <h6 class="">@DateTime.Now.ToLongDateString() @DateTime.Now.ToShortTimeString()</h6>
                <p>İstanbul, TR</p>
            </div>
        </div>
        <div class="col-sm-12 col-12">
            <div class="weather-widget rainy">
                <h2>12°</h2>
                <h4>Yağmurlu</h4>
                <h6 class="">@DateTime.Now.ToLongDateString() @DateTime.Now.ToShortTimeString()</h6>
                <p>London, UK</p>
            </div>
        </div>
    </div>


</div>