@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container overflow-hidden">
    <h2>Ana Sayfa</h2>
    <div class="row gy-5">
        <div class="col-8">
            <div class="p-3">
                <h4 class="text-info border-bottom border-info">Ürünler</h4>
                <table class="table table-striped table-hover shadow">
                    <tr>
                        <th>#</th>
                        <th>Ürün</th>
                        <th>Kategori</th>
                        <th>Resim</th>
                        <th>Eski Fiyat</th>
                        <th>Yeni Fİyat</th>
                        <th>Durum</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Elma</td>
                        <td>Meyve</td>
                        <td>resim</td>
                        <td>12,99</td>
                        <td>10,12</td>
                        <td>Aktif</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Elma</td>
                        <td>Meyve</td>
                        <td>resim</td>
                        <td>12,99</td>
                        <td>10,12</td>
                        <td>Aktif</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Elma</td>
                        <td>Meyve</td>
                        <td>resim</td>
                        <td>12,99</td>
                        <td>10,12</td>
                        <td>Aktif</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Elma</td>
                        <td>Meyve</td>
                        <td>resim</td>
                        <td>12,99</td>
                        <td>10,12</td>
                        <td>Aktif</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="p-3">
                <h4 class="text-info border-bottom border-info">Kategoriler</h4>
                <table class="table table-striped table-hover shadow">
                    <tr>
                        <th>#</th>
                        <th>Kategori</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sebze</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Meyve</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>İçecek</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Bakliyat</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="col-4">
            <div class="p-3">
                <h4 class="text-info border-bottom border-info">Hakkımda Kısmı</h4>
                <table class="table table-striped table-hover shadow">
                    <tr>
                        <th>#</th>
                        <th>Açıklama</th>
                        <th>Resim</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>yazı gelecek</td>
                        <td>Resim</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>yazı gelecek</td>
                        <td>Resim</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>yazı gelecek</td>
                        <td>Resim</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>yazı gelecek</td>
                        <td>Resim</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-8">
            <div class="p-3">
                <h4 class="text-info border-bottom border-info">Yorumlar</h4>
                <table class="table table-striped table-hover shadow">
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>Açıklama</th>
                        <th>Meslek</th>
                        <th>Resim</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Yeşim Yıldız</td>
                        <td>Yazı gelecek</td>
                        <td>Müşteri</td>
                        <td>Resimurl</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Yeşim Yıldız</td>
                        <td>Yazı gelecek</td>
                        <td>Müşteri</td>
                        <td>Resimurl</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Yeşim Yıldız</td>
                        <td>Yazı gelecek</td>
                        <td>Müşteri</td>
                        <td>Resimurl</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Yeşim Yıldız</td>
                        <td>Yazı gelecek</td>
                        <td>Müşteri</td>
                        <td>Resimurl</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12">
            <div class="p-3">
                <h4 class="text-danger border-bottom border-danger">Hakkımda Kısmı</h4>
                <table class="table table-striped table-hover">
                    <div class="d-flex position-relative mt-3 p-2 text-white rounded" style="background-color:#bf4342">
                        <img src="~/foody2-1.0.0/img/about-1.jpg" class="flex-shrink-0 me-3" style="height:140px; width:200px" alt="...">
                        <div class="ml-3">
                            <h5 class="mt-0">Custom component with stretched link</h5>
                            <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="d-flex position-relative mt-3 p-2 text-white rounded" style="background-color:#bf4342">
                        <img src="~/foody2-1.0.0/img/about-2.jpg" class="flex-shrink-0 me-3" style="height:150px; width:200px" alt="...">
                        <div class="ml-3">
                            <h5 class="mt-0">Custom component with stretched link</h5>
                            <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </table>
            </div>
        </div>

        <div class="col-12">
            <div class="p-3">
                <h4 class="text-success border-bottom border-success">Mesajlar</h4>
                <table class="table table-striped table-hover">
                    <div class="d-flex position-relative mt-3 p-2 text-white rounded" style="background-color:#2ba84a">
                        <div class="ml-3">
                            <h5 class="mt-0">Custom component with stretched link</h5>
                            <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <img src="~/foody2-1.0.0/img/testimonial-2.jpg" class="flex-shrink-0 me-3 rounded-circle" style="height:100px; width:100px" alt="...">
                    </div>
                    <div class="d-flex position-relative mt-3 p-2 text-white rounded" style="background-color:#2ba84a">
                        <div class="ml-3">
                            <h5 class="mt-0">Custom component with stretched link</h5>
                            <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <img src="~/foody2-1.0.0/img/testimonial-4.jpg" class="flex-shrink-0 me-3 rounded-circle" style="height:100px; width:100px" alt="...">
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>
